<br>
<br>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../../assets/cables1.jpg" alt="Random first slide"  style="height: 65vh;width: 100%">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/conveyor.jpg"  alt="Random second slide" style="height: 65vh;width: 100%">
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/lpgfillinghead.jpg"  alt="Random third slide" style="height: 65vh;width: 100%">
    </ng-template>
  </ngb-carousel>
<div class="services">
  <h1>Hot Products</h1>
  <div class="cen">
    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/limitSwitches.jpg" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>Limit Switches</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/industrialSensor.jpg" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>Industrial Sensors</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/DcServoMotor.jpg" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>DC Servo Motor</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/AcServoMotor.jpg" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>AC Servo Motor</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/LpgFillingHeads.jpg" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>LPG Filling Heads</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/conveyorimage.jpg" style="width: 100%" clip-path="url(#circleView)" />
      </svg>
      <h2>Conveyor Chain</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/PlcDrive.jpg" style="width:100%" clip-path="url(#circleView)" />
      </svg>
      <h2>PLC Drives</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/LpgGasStoveSpares.png" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>LPG Spares</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="service">
      <svg width="150" height="150">
        <defs>
          <clipPath id="circleView">
            <circle cx="50" cy="50" r="55" stroke="green" stroke-width="4" fill="whitesmoke" />
          </clipPath>
        </defs>
        <image xlink:href="../../../assets/cables.jpg" style="width: 70%" clip-path="url(#circleView)" />
      </svg>
      <h2>Cables</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
</div>
<div class="paralax"></div>

<div class="services">
  <h1>OUR SERVICES</h1>
  <p class="cen">
    At Primus Technologies, our knowledge and expertise is tailored to maximise the lifespan and output
    of your production process, at the lowest possible cost to your organisation.Primus Technologies focus
    is on prevention, quality and productivity, leading to industry leading safety procedures,
    observance of contractual obligations and regulations. The quality with   which we approach
    and perform on-site work is both innovative and accountable.
    Our maintenance contracts are carried out with the commitment to deliver results.
  </p>
  <div class="service">
    <h2>MAINTENANCE MANAGEMENT</h2>
    <br>
    <p class="cen">
      We can provide a full turnkey solution to meet
      all our client requirements including Project Management, Machinery Installation and Repair,
      Short and long term maintenance service contracts, Machineries relocation, developing total
      productive maintenance practices, refurbishment of industrial facilities, workshop O&M, mechanical seal reconditioning etc.
    </p>
  </div>

  <div class="service">
    <h2>ASSET & MATERIAL MANAGEMENT</h2>
    <br>
    <p  class="cen">
      Primus Technologies provides visibility over your asset maintenance and performance, identify
      trends from key data and offers business insight to improve more clarity on your existing data’s.
      Primus Technologies goal is to take our customers to a level of productivity and profits that is greater than
      they have now.</p>
  </div>

  <div class="service">
    <h2>OUTSOURCING</h2>
    <br>
    <p  class="cen">
      We have extensive experience of working with all sizes, scales and types of organisations.
      Through our expertise and experience in maintenance management, asset & material management services
      and training, we contribute by strategically and operationally improving organisational performance and
      the quality of customer service; resulting in better HR</p>
  </div>
</div>

<div class="paralax"></div>
<app-footer></app-footer>
